#form {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 480px;
	height: 120px;
	margin: 0 auto;
	padding: 20px 10px;
}

.form-inputs {
	margin-top: 10px;
}

.form-label {
	display: flex;
	justify-content: flex-end;

	margin-bottom: 10px;
}

.label-text {
	display: block;
	margin-right: 20px;
}

.form-input {
	display: block;
	width: 50%;
}

#form-submit {
	display: block;
	width: 200px;
	height: 40px;
	margin: 10px auto 0;
	background-color: #eee;
	border: 2px solid #ddd;

	font-size: 15px;
	cursor: pointer;
}

#form-submit:hover {
	border-color: #000;
}

.image-gallery {
	display: flex;
	flex-wrap: wrap;

	width: 960px;
	margin: 0 auto;
}

.image-wrapper {
	position: relative;
}

.delete-image {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;

	border: none;
	background-color: transparent;
	font-size: 24px;
	cursor: pointer;
}
